.footer {
  background: url(../assets/pokeballs.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  &__landing {
    width: 100%;
    height: 100%;
    background: rgba(12, 10, 10, 0.98);

    .wrapper {
      @include flexCenter();
      flex-direction: column;
    }

    &__logo {
      margin-top: 20%;
      margin-bottom: 25px;
    }

    &__welcome {
      @include fontSans(12, 400, $secondaryBlack);
      padding: 0px 30px;
      // background: $primaryWhite;
      background: url(../assets/pokemonBorder.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    button {
      @include fontDisplay(16, 400, $accentColor);
      padding: 6px 10px;
      border: 3px solid $accentColor;

      background: $secondaryColor;
      box-shadow: -3px 5px 0px lighten($accentColor, 50%);
    }
  }
}