.header {
    position: static;
    max-width: calc( #{$squareCardSize} * 5 + 80px );
    height: 60px;
    padding: 20px 0 0;
    margin: 0 auto;
    margin-bottom: 10px;
  
  &__list {
    @include flexCenter();
    justify-content: space-between;

    &::after {
      content: '';
      position: absolute;
    }

    &__item__timer {
      @include fontSans(34, 400, $primaryColor);
      margin: 0;
      filter: drop-shadow(1px 1px 0 $secondaryBlack);
    }
  }

  &__list__item__reset {
    &:focus &__arrow {
      border: 4px solid $secondaryWhite;
      background: #29AAFD;
      transform: rotate(calc(360deg - 45deg));
    }

    &:focus &__arrow::before {
      border-left: 0px solid $primaryWhite;
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
    }
  }

  &__list__item__reset__arrow {
    position: relative;
    height: 40px;
    width: 40px;

    border: 5px solid transparent;
    border-top-color: $primaryWhite;
    border-left-color: $primaryWhite;
    border-bottom-color: $primaryWhite;
    border-right-color: transparent;
    border-radius: 50%;

    transform: rotate(15deg);
    transition: all .4s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 80%;
      height: 0;
      width: 0;
      
      border-left: 10px solid $primaryWhite;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }

    &:hover {
      border: 4px solid $secondaryWhite;
      background: #29AAFD;
      transform: rotate(calc(360deg - 45deg));
    }

    &:hover::before {
      border-left: 0px solid $primaryWhite;
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
    }
  }
}