.main {
  @include flexCenter();
  height: calc( 100vh - 70px );

  &__cards-container {
    @include flexCenter();
    flex-wrap: wrap;

    padding: 40px;
    border-radius: 10px;
    background: lighten($primaryBlack, 30%);

    &__card {
      position: relative;
      flex: 0 1 $squareCardSize;
      height: $squareCardSize;
      border: 1px solid $secondaryBlack;

      &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        
        background: lighten($primaryBlack, 70%);
        transition: all .3s ease;
        // opacity: 80%; // uncomment this for testing
        
        &:focus {background: $primaryColor;}
      }

      &__image {
        height: 100%;
        width: 100%;
      }
    }
  }
}