@media (max-width: 870px) {
  $squareCardSize: 120px;

  .wrapper {
    max-width: calc( #{$squareCardSize} * 4 + 80px );
    width: 90%;
  } 

  .main {
    &__cards-container__card {
      flex: 0 1 $squareCardSize;
      height: $squareCardSize;
    }
  }
  
}

@media (max-width: 695px) {
  $squareCardSize: 100px;
  
  .wrapper {
    max-width: calc( #{$squareCardSize} * 4 + 40px );
  }

  .main {
    &__cards-container {
      padding: 20px;
      justify-content: start;
      &__card {
        flex: 0 1 $squareCardSize;
        height: $squareCardSize;
      }
    }
  }
}

@media (max-width: 585px) {
  $squareCardSize: 85px;
  
  .wrapper {
    max-width: calc( #{$squareCardSize} * 3 + 20px );
    width: 99%;
  }
  
  .main {
    &__cards-container {
      padding: 10px;

      &__card {
        flex: 0 1 $squareCardSize;
        height: $squareCardSize;
      }
    }
  }
}